
*.pyc
Frontend/tradeify/package-lock.json
*.pyc
*.pyc
*.pyc
Backend/tradeify/api/__pycache__/__init__.cpython-310.pyc
Backend/tradeify/api/__pycache__/admin.cpython-310.pyc
Backend/tradeify/api/__pycache__/apps.cpython-310.pyc
Backend/tradeify/api/__pycache__/models.cpython-310.pyc
Backend/tradeify/api/__pycache__/tradenotes_functions.cpython-310.pyc
Backend/tradeify/api/__pycache__/urls.cpython-310.pyc
Backend/tradeify/api/__pycache__/views.cpython-310.pyc
Backend/tradeify/api/migrations/__pycache__/0001_initial.cpython-310.pyc
Backend/tradeify/api/migrations/__pycache__/0002_remove_tradenotes_profile_tradenotes_user_and_more.cpython-310.pyc
Backend/tradeify/api/migrations/__pycache__/0003_tradenotes_title_alter_tradenotes_kpis_and_more.cpython-310.pyc
Backend/tradeify/api/migrations/__pycache__/__init__.cpython-310.pyc
Backend/tradeify/polls/__pycache__/__init__.cpython-310.pyc
Backend/tradeify/polls/__pycache__/admin.cpython-310.pyc
Backend/tradeify/polls/__pycache__/apps.cpython-310.pyc
Backend/tradeify/polls/__pycache__/models.cpython-310.pyc
Backend/tradeify/polls/__pycache__/urls.cpython-310.pyc
Backend/tradeify/polls/__pycache__/views.cpython-310.pyc
Backend/tradeify/polls/migrations/__pycache__/0001_initial.cpython-310.pyc
Backend/tradeify/polls/migrations/__pycache__/__init__.cpython-310.pyc
Backend/tradeify/tradeify/__pycache__/__init__.cpython-310.pyc
Backend/tradeify/tradeify/__pycache__/settings.cpython-310.pyc
Backend/tradeify/tradeify/__pycache__/urls.cpython-310.pyc
Backend/tradeify/tradeify/__pycache__/wsgi.cpython-310.pyc
