@media only screen and (min-width: 1008px){
    .sidebar{
        width: 240px;
        height: 100%;
        padding-left: 16px;
        padding-right: 16px;
    }
}
.App{
    height: 100%;
    width: 100%;
}
.topSection {
    margin-top: 12px;
    margin-bottom: 28;
}
.initialsLogo{
    border-radius: 50%;
    color: white;
    background-color: black;
    width: 25px;
}